<!DOCTYPE html>
<html th:replace="~{fragmentos/plantilla::pagina(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Editar/crear familia</title>
</head>

<body>
	<h1 class="center-text" th:text="${esNueva} ? 'Crear familia' : 'Editar familia'"></h1>

	<form th:object="${familia}" class="form-horizontal" id="familia-form" method="post">
		<div class="form-group has-feedback">

			<div class="form-group">
				<label class="col-2 control-label">Id</label>
				<label class="col-10 form-control" th:text="${esNueva} ? '-' : *{id}"/>
				<label class="col-2 control-label">Nombre</label>
				<input class="col-10 form-control" th:field="*{nombre}" size="30" maxlength="100" />
				<label class="col-2 control-label">Descripción</label>
				<input class="col-10 form-control" th:field="*{descripcion}" size="30" maxlength="100" />
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-block btn-primary col-2" th:text="${esNueva} ? 'Crear' : 'Guardar'" type="submit">
					Guardar</button>
					
					<a class="btn btn-lg btn-block btn-secondary col-2" th:href="@{/familias/}">Cancelar</a>
			</div>
		</div>
	</form>



</body>
</html>