<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

	<th:block th:fragment="cabecera">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" th:href="@{/}">Ejemplo SI</a>
			<div class="collapse navbar-collapse" id="navbars">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/clientes}">Clientes</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/articulos}">Artículos</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/familias}">Familias</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/almacenes}">Almacenes</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/pedidos}">Pedidos</a></li>
				</ul>
			</div>
		</nav>
	</th:block>
</body>

</html>


