<!DOCTYPE html>
<html th:replace="~{fragmentos/plantilla::pagina(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Listado de almacenes</title>
</head>

<body>
	<h1 class="center-text">Listado de almacenes</h1>

	<form th:action="@{/almacenes}" method="post" class="form-horizontal" id="buscar-form">
		<div class="row">
			<div class="col-10 form-group">
				<div class="control-group row" id="nombre">
					<label class="col-2 control-label">Nombre</label>
					<input class="col-10 form-control" th:name="nombreAlmacen" size="30" maxlength="80" />
				</div>
				<div class="control-group row" id="localidad">
					<label class="col-2 control-label">Localidad</label>
					<input class="col-10 form-control" th:name="nombreLocalidad" size="30" maxlength="80" />
				</div>
				<div class="control-group row" id="articulo">
					<label class="col-2 control-label">Artículo</label>
					<select class="col-10 form-control" th:name="idArticulo">
						<option th:each="articulo : ${articulos}" th:value="${articulo.id}" th:text="${articulo.nombre}">Nombre artículo</option>
					</select>
				</div>
				
			</div>


			<div class="col-2 form-group">
				<button type="submit" class="btn btn-lg btn-block btn-primary">Buscar</button>
				<button type="submit" class="btn btn-lg btn-block btn-primary">Buscar todos</button>
			</div>
		</div>
	</form>


	<table id="almacenes" class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Domicilio</th>
				<th>Localidad</th>
				<th>Cód. postal</th>
				<th>Provincia</th>
				<th>Teléfono</th>
				<th />
			</tr>
		</thead>
		<tbody>
			<tr th:each="almacen : ${almacenes}">
				<td th:text="${almacen.id}" />
				<td><a th:href="@{/almacenes/__${almacen.id}__}" th:text="${almacen.nombre}"></a></td>
				<td th:text="${almacen.descripcion}" />
				<td th:text="${almacen.direccion.domicilio}" />
				<td th:text="${almacen.direccion.localidad}" />
				<td th:text="${almacen.direccion.codigoPostal}" />
				<td th:text="${almacen.direccion.provincia}" />
				<td th:text="${almacen.direccion.telefono}" />
				<td><a class="btn btn-primary" th:href="@{/almacenes/__${almacen.id}__}">Editar</a> <a
					class="btn btn-primary" th:href="@{/almacenes/__${almacen.id}__/eliminar}"
				>Borrar</a></td>
			</tr>
		</tbody>
	</table>

	<br />

	<a class="col-2 btn btn-lg btn-block btn-primary" th:href="@{/almacenes/nuevo}">Nuevo almacén</a>
</body>
</html>